services:
  - type: static
    name: ecurefund
    env: static
    buildCommand: npm install
    staticPublishPath: .
    headers:
      - path: /*
        name: X-Frame-Options
        value: DENY
      - path: /*
        name: X-Content-Type-Options
        value: nosniff
